<%= render "components/header" %>
<div class="bandeau">
<br>
<h1 class="t1_bandeau">Ambassadeur</h1>
<br>
<h2 class="t_bandeau">Portraits d’artistes engagés
dans la culture.</h2>
</div>
<%= render "components/footer" %>
