
<div class="footer-shadow">
<div class="footer">
<a href="https://www.instagram.com/art.prise">
    <%=  image_tag("instagram.png", alt: "Art Prise, Place à la culture  de demain!") %>
  </a>
  <a href="mailto:contact@artprise.fr"><%=  image_tag("mail.png", alt: "Art Prise, Place à la culture  de demain!") %></a>
    <a href="https://www.facebook.com/art.prise">
    <%=  image_tag("facebook.png", alt: "Art Prise, Place à la culture  de demain!") %>
  </a>
</div>
<p class="link-footer"><%= link_to 'Mentions légales', mentions_path %></p>
</div>
