<div class="container-ok">
<%= render "components/header" %>
<body style="background-color:#FA0606;">

 <div class="flex-one">
        <div class="information flexbox-form-deux">

            <h1 class="title-info">Devenons Amis</h1>
             <br>
             <p class="p-info-deux">*Rejoignez notre réseau d’Amis et contribuez à la construction de la première communauté
d’artistes plasticiens professionnels de France!</p>
  <%= image_tag("logo_court_blanc.png", alt: "Art Prise, Place à la culture de demain!")%>
            <p class="p-info">Amateurs d’art, Artiviste, professionnel de la culture, collectionneurs
              ou mécènes : Participez à la construction de la 1ère communauté d’artistes
              plasticiens professionnels de France.
              Les Amis d’Art Prise, Place à la culture de demain! forment une communauté
              active et soudée de membres passionnées et militants pour
              un monde de l’art et de la culture qui améliore l’environnement professionnel
              de ses artistes. <br>
               <br>
              En adhérant à l’association vous participez activement au développement
              et à l’enrichissement de nos projets d’aujourd’hui et de demain.
              Tout au long de l’année, votre participation sera valorisée pour que
              vous puissiez vous sentir partie intégrante de l’aventure d’Art Prise,
              Place à la culture de demain ! aux côtés d’autres passionnés et fidèles. <br>
               <br>
              Une fois par an, seront mis à l’honneur les Amis de l’association lors d’un dîner insolite en compagnie des 10 artistes élus Ambassadeur du mois et récompensés pour leur engagement et implication dans la communauté.
 <br>
              Les mécènes - entreprises et individuels - peuvent en outre profiter des dispositifs
              d’incitations fiscales en vigueur.</p>
              <br>
              <a class="btn btn-light btn-banner" href="https://form.jotform.com/203095902006043">J'adhère</a>
<br>

        </div>

        <div class="formules padding-form">

          <h1 class="title-info-d">Nos formules d’adhésion</h1>
          <br>
          <br>
          <div>
              <h2 class="red-t">Donateurs ponctuels:</h2>
              <p>
                Versement d’un montant de votre choix, à chaque fois <br>
                que vous souhaitez contribuer au développement <br>
                d’Art Prise, Place à la culture de demain !
              </p>
          </div>
          <br>
          <br>
           <div>
              <h2 class="red-t">Amis:</h2>
              <p class="prix"><i>15€/mois (ou 100€ l’année, réglable en une fois)</i></p>
              <h3 class="red-a">Vos avantages</h3>
              <p>- Carte de membre personnalisée</p>
              <p>- Accès à la Newsletter mensuelle de l’association</p>
          </div>
          <br>
          <br>
           <div>
              <h2 class="red-t">Amis Bienfaiteurs:</h2>
              <p class="prix"><i>30€/mois. (ou 250€ l’année, réglable en une fois)</i></p>
              <h3 class="red-a">Vos avantages</h3>
              <p>- Carte de membre personnalisée</p>
              <p>- Accès à la Newsletter mensuelle de l’association</p>
              <p>- Rencontres mensuelles organisées avec les artistes de
              la communauté dans leurs ateliers</p>
              <p>- Participation au dîner annuel en présence
              des amis et des artistes</p>
               <br>
          <a class="btn btn-banner-2" href="https://form.jotform.com/203095902006043">J'adhère</a>
          </div>


        </div>
      </div>


</body>
<%= render "components/footer" %>
</div>
