<div class="container-ok">
<%= render "components/header" %>
<body style="background-color:#FA0606">

  <div class="container-ml mentions-legales">
    <h1>MENTION LÉGALES</h1>
    <p>Le présent site http://www.blog-artprise.fr est édité par :</p>
    <p>"Art Prise, Place à la culture de demain!", Association loi 1901, dont le siège social est situé au 67 Boulevard Brune, 75014 Paris</p>
    <p>RNA : W751255932</p>
    <p>Adresse email : contact@artprise.fr</p>
    <p>Hébergeur du site : Namecheap, Phoenix, Arizona, United States</p>
    <p>Responsable du site : Madame Camille Sauer</p>
    <p>"Art Prise, Place à la culture de demain!" - Tous droits réservés.</p>
  </div>
<%= render "components/footer" %>
</body>
</div>
