<%= render "components/header" %>
<div class="bandeau">
<br>
<h1 class="t1_bandeau">Mentorat</h1>
<br>
<h2 class="t_bandeau">Un artiste porteur de projet culturel
soutenu pendant 1 an.</h2>
</div>
<%= render "components/footer" %>
