


.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: white;
  margin-top: 30px;

}

.footer-shadow{
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
      background: white;

}

.footer-shadow p{
  text-align:center;
  padding-bottom: 20px;
}

.lock-item img{
  width:30px;
  margin: 10px;
}

.link-footer a{
  color:red;
  font-size: 12px;
  font-family: cabin;

}

.link-footer a:hover{
  color:grey;
  font-size: 12px;
  font-family: cabin;
  text-decoration:none;

}

.description{
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
  width: 398px;
  height: 196px;
  color: #FFFFFF;
  margin: 50px;
}

.title{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 108px;
  margin: 50px;
  color: #FFFFFF;
}

.logo-qq img {
  width: 50px;
  margin: 10px;
  height: auto;
  display:flex !important;
  justify-content: space-between !important;
}

.footer img {
width: 50px;
height: auto;
margin:20px;
}

.menu {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: white;
  margin-bottom: 20px;
}

.landing-page{
  display: flex;
  justify-content: space-between !important;
}

.header-element{
  display: flex;
  justify-content: center !important;
  align-items: center;

}

.info {
  display: flex;
  flex-direction: column;
}

.landing-page img {
  width: 553px;
  height: 609px;
  object-fit: cover;
  margin: 50px;

}
button  img {
width: 50px;
height: auto;
margin:20px;
}
