
.form-inputs textarea{
  border-radius: 20px;
  border-color: red;
}

.container-ml{
  text-align:center !important;
      padding-bottom: 30px;
}

.mentions-legales h1{
  font-size: 20px;
font-family: 'Poppins', sans-serif;
color: white !important;
font-weight:bold;
 margin-bottom: 30px;
  margin-top: 50px;
}

.mentions-legales p{
font-size: 15px;
font-family: 'Cabin', sans-serif;
color: white !important;
font-weight:bold;
 margin-bottom: 10px;
  margin-top: 10px;
  line-height: 40px;
  margin-left:30px;
  margin-right:30px;
}


.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: white;
  margin-top: 30px;
  flex-shrink: 0;

}

.footer-shadow{
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
      background: white;

}

.footer-shadow p{
  text-align:center;
  padding-bottom: 20px;
}

.lock-item img{
  width:30px;
  margin: 20px;
}

.link-footer a{
  color:red;
  font-size: 12px;
  font-family: cabin;

}

.link-footer a:hover{
  color:grey;
  font-size: 12px;
  font-family: cabin;
  text-decoration:none;

}

@media (max-width: 599px) {
.description{
  font-size: 18px;
  text-align:center;
  line-height: 32px;
  height: 196px;
  color: #FFFFFF;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  margin: 60px;
}}

@media (min-width: 600px) {
.description{
  font-size: 18px;
  line-height: 32px;
  width: 398px;
  height: 196px;
  color: #FFFFFF;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  margin: 50px;
}}

@media (max-width: 600px) {
  .header-element{
  display: flex;

  justify-content: center !important;
  align-items: center;
}}



@media (max-width: 399px) {
  .landing-page img{
  width: 290px !important;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  margin: 30px;
}}

@media (max-width: 399px) {
  .title{
  color: #FFFFFF;
  text-align:center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  margin: 40px ;
  font-size: 45px !important;
}}

@media (max-width: 400px) {
  .description{

  color: #FFFFFF;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  margin: 40px !important;
  font-size: 18px;
  height: auto;
}}

@media (max-width: 1115px) {
  .landing-page{
  display: flex;
  flex-direction:column;
  justify-content: center !important;
  align-items: center;
}}

@media screen and (min-width: 400px) and (max-width: 599px){
.title{
  text-align:center;
  font-size: 60px;
  line-height: 108px;
  margin: 50px;
  color: #FFFFFF;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
}}

@media (min-width: 600px) {
.title{
  font-size: 72px;
  line-height: 108px;
  margin: 50px;
  color: #FFFFFF;
    font-family: Poppins;
  font-style: normal;
  font-weight: bold;
}}

.logo-qq img {
  width: 50px;
  margin: 20px;
  height: auto;
  display:flex !important;
  justify-content: space-between !important;
}

.footer img {
width: 50px;
height: auto;
margin:20px;
}

.menu {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: white;
}

.landing-page{
  display: flex;
  justify-content: space-around !important;
}

.dropdown-menu a {
color: black;
text-decoration:none;
font-size: 15px;
line-height: 23px;
}

.dropdown-menu a:hover {
color: red;
text-decoration:none;

}

.dropdown-menu li{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 23px;
text-align: center;
margin: 20px;
color: black;
}


.header-element{
  display: flex;
  justify-content: center !important;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}

@media (min-width: 400px) and  (max-width: 599px){
.landing-page img {
  width: 350px;
  height: auto;
  object-fit: cover;
  margin: 50px;
  border-radius: 20px;

}}

@media (min-width: 600px){
.landing-page img {
  width: 553px;
  height: 609px;
  object-fit: cover;
  margin: 50px;
  border-radius: 20px;

}}


button  img {
width: 50px;
height: auto;
margin:20px;
}

.formulaire-div{
width: auto;
border-radius: 20px;
height: auto;
margin-bottom:100px;
background-color: white;
}


@media (max-width: 500px) {
.information{
width: 280px !important;

}
}

@media (max-width: 500px) {
.test-m{
width: 200px !important;

}
}

@media (min-width: 501px) {
.test-f{
      margin: 120px;
}

}

@media (max-width: 500px) {
.formules p h2 h1{
width: 200px !important;

}
}

@media (max-width: 500px) {
.formulaire-div{
width: 280px !important;

}
}

@media (max-width: 500px) {
.form-inputs{
width: 200px !important;
text-align:center;

}
}


@media (max-width: 500px) {
.test-f{
margin-top: 50px;
width: 200px !important;
text-align:center;

}
}

@media (max-width: 500px) {
.test-f h3{
width: 100px !important;
}
}

@media (max-width: 500px) {
.flexbox-form{
margin-bottom: 50px !important;
}
}


@media (max-width: 500px) {
.form-inputs p h2 h1{

text-align:center;

}
}

@media (max-width: 500px) {
.form-inputs input{
width: 100px !important;

}
}

@media (max-width: 500px) {
.form-inputs textarea{
width: 100px !important;

}
}

@media (max-width: 500px) {
.padding-form-deux {
    margin: 50px;
    padding: 200px !important;

}
}

@media (max-width: 500px) {
.padding-form {
    margin: 50px;
    padding: 100px !important;

}
}



@media (max-width: 320px) {
.padding-form-deux {
    margin: 50px;
    padding: 100px !important;

}
}

@media (max-width: 320px) {
.padding-form {
    margin: 50px;
    padding: 10px !important;

}
}


.flex-second{
display: flex;
justify-content:space-between;
align-items: center;
}



.flex-one{
display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 80px;
}

@media (max-width: 950px) {
  .flex-one{
display: flex;
  flex-direction: column;
  align-items: center;
}
}

@media (max-width: 400px) {
.formules{
width: 305px !important;
padding: 40px !important;
}}

@media (max-width: 400px) {
.p-info-deux{
font-size: 19px;
}}

@media (max-width: 400px) {
.formules p{
font-size: 19px !important;
}}


@media screen and (min-width: 401px) and (max-width: 950px) {
.formules{
width: auto !important;
padding: 40px !important;
}}

@media (max-width: 400px) {
.p-info{
width: 310px !important;
}}


.btn-banner{
  width: 115px;
  height: 55px;
  border-radius:10px;
  text-align: center !important;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px !important;
  line-height: 33px;
  align-items: center !important;
  justify-content:center !important;
  text-transform: uppercase;
  display: flex !important;
  margin: 20px;
}

.prise img {
  width: 437px;
  height: 365px;
  border-radius:20px;
  object-fit: cover;
  filter: brightness(60%);
}

@media screen and (max-width: 440px) {
.prise img {
  width: 300px;
  height: 300px;
  border-radius:20px;
  object-fit: cover;
  filter: brightness(50%);
}}

.linear{
  position: relative;
}

@media screen and (max-width: 599px) {
.grid-avatar{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
}

@media screen and (min-width: 600px) and (max-width: 999px) {
.grid-avatar{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
}

@media screen and (min-width: 1000px) {
.grid-avatar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: space-around;
  width: 930px;
}
}

@media screen and (min-width: 1300px) {
.grid-avatar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: space-around;
  width: 930px;
}
}

.intro{
  font-weight: bold;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px red solid;
}

.image2 img {
    height: 120px;
    object-fit: cover;
    width: 120px;
    border-radius: 300px;
    position: absolute;
    bottom: -43px;
    filter: grayscale(100%)
}

.text label{
  display:none;
}

.img-avatar-a img{
    bottom: 80px;
    margin-left: 30px;
    width: 100px;
    height: 100px;
    border-radius: 300px;
    object-fit: cover;
    position: absolute;
    filter: grayscale(100%)

}

@media screen and (max-width: 440px) {
.img-avatar-a img{
    bottom: 90px;
    margin-left: 30px;
    width: 80px;
    height: 80px;
    border-radius: 300px;
    position: absolute;
    filter: grayscale(100%)

}}

@media screen and (max-width: 440px) {
.linear h6{
  font-size: 18px !important;

}}

@media screen and (max-width: 440px) {
#index_p iframe{
  border-radius:20px;
  height: 250px;
  width: 300px !important;
  text-align:center;
  margin-bottom: 50px;
}}

@media screen and (max-width: 990px) {
#index_p iframe{
  border-radius:20px;
  height: 300px;
  width: 437px;
  text-align:center;
  margin-bottom: 50px;
}}

.bandeau{
  padding-bottom: 50px;
  height: auto;
  background-color: #FA0606;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 50px;
}

.t_bandeau{
font-family: Poppins;
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 42px;
color: white;
text-align: left;
margin-left: 30px;
}

@media screen and (max-width: 600px) {
.t_bandeau{
font-family: Poppins;
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 42px;
color: white;
text-align: left;
margin-left: 30px;
}
}

@media screen and (max-width: 400px) {
.t_bandeau{
font-family: Poppins;
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 42px;
color: white;
text-align: left;
margin-left: 30px;
margin-right: 20px;
}
}

.t1_bandeau{
color: white;
text-align: left;
font-family: Poppins;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 27px;
margin-left: 30px;

}
#index_p{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

#index_m{
display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}


#index_a{
display: flex;
flex-direction: column;
justify-content:center;
align-items: none !important;
}

#index_a h1{
display: flex;
  flex-direction: column;
  justify-content:center;
}

.index_2{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}


.title-p{
text-align: left !important;
font-family: Oswald;
font-style: normal;
text-transform: uppercase;
font-weight: bold;
font-size: 20px;
line-height: 30px;
color:red;
}


@media screen and (max-width: 990px) {
.title-p{
    font-size: 30px;
    margin-bottom: 30px;
    margin-right: 270px;
    margin-top: 30px;
}}

@media screen and (max-width: 440px) {
.index_2 iframe{
  border-radius:20px;
  height: 250px;
  width: 300px !important;
  text-align:center;
  margin-bottom: 50px;
}}

@media screen and (max-width: 990px) {
.index_2 iframe{
  border-radius:20px;
  height: 300px;
  width: 437px;
  text-align:center;
  margin-bottom: 50px;
}}

@media screen and (min-width: 991px) {
.index_2 iframe{
  border-radius:20px;
  height: 480px;
  width: 930px;
  text-align:center;
  margin-bottom: 50px;
}}

@media screen and (max-width: 440px) {
#index_p iframe{
  border-radius:20px;
  height: 250px;
  width: 300px !important;
  text-align:center;
  margin-bottom: 50px;
}}

@media screen and (max-width: 990px) {
#index_p iframe{
  border-radius:20px;
  height: 300px;
  width: 437px;
  text-align:center;
  margin-bottom: 50px;
}}

@media screen and (min-width: 991px) {
#index_p iframe{
  border-radius:20px;
  height: 480px;
  width: 930px;
  text-align:center;
  margin-bottom: 50px;
}}

@media screen and (min-width: 991px) {
#index_p img{
  border-radius:20px;
  height: 480px;
  width: 930px;
  text-align:center;
  margin-bottom: 20px;
  object-fit: cover;
}}

@media screen and (max-width: 440px) {
#index_p img{
  border-radius:20px;
  height: 250px;
  width: 300px !important;
  text-align:center;
  margin-bottom: 20px;
  object-fit: cover;
}}

@media screen and (max-width: 990px) {
#index_p img{
  border-radius:20px;
  height: 300px;
  width: 437px;
  text-align:center;
  margin-bottom: 20px;
  object-fit: cover;
}}

@media screen and (min-width: 991px) {
#index_p p{
  height: auto;
  width: 930px;
  margin-bottom: 50px;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
}}

@media screen and (max-width: 440px) {
#index_p p{
  height: auto;
  width: 300px !important;
  margin-bottom: 50px;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
}}

@media screen and (max-width: 990px) {
#index_p p{
  height: auto;
  width: 437px;
  margin-bottom: 50px;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
}}


@media screen and (min-width: 991px) {
#index_p h5{
  height: auto;
  width: 930px;
  color: grey;
  margin-bottom: 50px;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
}}

@media screen and (max-width: 440px) {
#index_p h5{
  height: auto;
  width: 300px !important;
  margin-bottom: 50px;
  font-family: Cabin;
  color: grey;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  padding-left: 10px;
}}

@media screen and (max-width: 990px) {
#index_p h5{
  height: auto;
  width: 437px;
  color: grey;
  margin-bottom: 50px;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  padding-left: 10px;
}}

.title-pp{
text-align: left !important;
font-family: Oswald;
font-style: normal;
text-transform: uppercase;
font-weight: bold;
font-size: 20px;
line-height: 30px;
color:red;
}

@media screen and (min-width: 991px) {
#index_p h1{
  height: auto;
  width: 930px;
  margin-bottom: 20px;
  padding-left: 10px;

}}

@media screen and (max-width: 440px) {
#index_p h1{
  height: auto;
  width: 300px !important;
  margin-bottom: 20px;
  padding-left: 10px;

}}

@media screen and (max-width: 990px) {
#index_p h1{
  height: auto;
  width: 437px;
  margin-bottom: 20px;
  padding-left: 10px;

}}



@media screen and (max-width: 440px) {
#index_p iframe{
  border-radius:20px;
  height: 250px;
  width: 300px !important;
  text-align:center;
  margin-bottom: 50px;
}}

@media screen and (max-width: 990px) {
#index_p iframe{
  border-radius:20px;
  height: 300px;
  width: 437px;
  text-align:center;
  margin-bottom: 50px;
}}

@media screen and (min-width: 991px) {
#index_p iframe{
  border-radius:20px;
  height: 480px;
  width: 930px;
  text-align:center;
  margin-bottom: 50px;
}}

@media screen and (min-width: 991px) {
#index_p img{
  border-radius:20px;
  height: 480px;
  width: 930px;
  text-align:center;
  margin-bottom: 20px;
  object-fit: cover;
}}

@media screen and (max-width: 440px) {
#index_p img{
  border-radius:20px;
  height: 250px;
  width: 300px !important;
  text-align:center;
  margin-bottom: 20px;
  object-fit: cover;
}}

@media screen and (max-width: 990px) {
#index_p img{
  border-radius:20px;
  height: 300px;
  width: 437px;
  text-align:center;
  margin-bottom: 20px;
  object-fit: cover;
}}

@media screen and (min-width: 991px) {
#index_p p{
  height: auto;
  width: 930px;
  margin-bottom: 50px;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
}}

@media screen and (max-width: 440px) {
#index_p p{
  height: auto;
  width: 300px !important;
  margin-bottom: 50px;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
}}

@media screen and (max-width: 990px) {
#index_p p{
  height: auto;
  width: 437px;
  margin-bottom: 50px;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
}}


@media screen and (min-width: 991px) {
#index_p h5{
  height: auto;
  width: 930px;
  color: grey;
  margin-bottom: 50px;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
}}

@media screen and (max-width: 440px) {
#index_p h5{
  height: auto;
  width: 300px !important;
  margin-bottom: 50px;
  font-family: Cabin;
  color: grey;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  padding-left: 10px;
}}

@media screen and (max-width: 990px) {
#index_p h5{
  height: auto;
  width: 437px;
  color: grey;
  margin-bottom: 50px;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  padding-left: 10px;
}}


@media screen and (min-width: 991px) {
  .title-p{
    font-size: 30px;
    margin-bottom: 30px;
    margin-right: 760px;
    margin-top: 30px;
}}

@media screen and (min-width: 991px) {
.display-grid-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
}

#paraph-ambassadeur{
  margin-bottom: 20px !important;
}

@media screen and (min-width: 1500px) {
.display-grid-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
}

#ambassadeur-name{
  margin-top: 20px;
  font-size: 40px;
line-height: 50px;
width: auto !important;
}

#ambassadeur-subname{
  font-size: 40px;
line-height: 50px;
width: auto !important;
}

.linear h1{
position: absolute;
bottom: 65px;
left: 30px;
font-family: Poppins;
font-style: normal;
font-style:uppercase !important;
color: white;
font-size: 24px;
text-transform: uppercase;
}

.flex_a{
  bottom: 100px;
  position: relative;
  left: 150px;
}

@media screen and (max-width: 440px) {
  .flex_a{
  bottom: 100px;
  position: relative;
  left: 130px;
}}


.linear h6 {

    font-family: 'Poppins';
    line-height: 30px;
    margin-right: 20px;
    font-style: normal;
    font-style: uppercase !important;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    }

@media screen and (max-width: 440px) {
  .title-p{
    font-size: 30px;
    margin-bottom: 30px;
    margin-right: 110px;
    margin-top: 30px;
}}


.info_p h4{
  position: absolute;
  bottom: 25px;
  left: 30px;
  font-family: Cabin;
  font-style: normal;
  font-weight: regular;
  color: white;
  font-size: 17px;
}

@media screen and (max-width: 440px) {
 .info_p h5{
  position: absolute;
  bottom: 25px;
  left: 200px !important;
  font-family: Cabin;
  font-style: normal;
  font-weight: regular;
  color: white;
  font-size: 17px;
}
}

.info_p h5{
  position: absolute;
  bottom: 25px;
  left: 335px;
  font-family: Cabin;
  font-style: normal;
  font-weight: regular;
  color: white;
  font-size: 17px;
}



#info_a{

  font-family: Cabin;
  font-style: normal;
  font-weight: regular;
  color: white;
  font-size: 17px;
}

@media screen and (max-width: 440px) {
#info_a{
  font-size: 15px;
}}

.info_p{
  display:flex !important;
  justify-content:space-between !important;

}

.prise{
  margin: 30px;
}


.btn-banner-p{
  width: 115px;
  height: 55px;
  text-align: center !important;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px !important;
  line-height: 33px;
  align-items: center !important;
  justify-content:center !important;
  text-transform: uppercase;
  display: flex !important;
  margin: 20px;
}

.question_a{
  font-family: 'Oswald', sans-serif !important;
  line-height: 30px !important;
  font-style: normal;
  font-weight: 600;
  font-size: 18px !important;

}

.btn-banner-p a {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  color: red;
}

.btn-banner-p a:hover {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  color: red;
  text-decoration:none;

}
.btn-banner-2{
  width: 115px;
  height: 55px;
  background-color: red !important;
  color: white !important;
  text-align: center !important;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px !important;
  line-height: 33px;
  align-items: center !important;
  justify-content:center !important;
  text-transform: uppercase;
  display: flex !important;
}

.information img {
  width: 150px;
  margin:20px;
  text-align: center;
}

.logo img {
  width: 500px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.flexbox-form{

  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.flexbox-form-deux{

  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 600px;
  margin-top: 50px;
}

.title-info{
color:white !important;

text-align: center;
font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px !important;

}

.title-info-d{
color:red !important;

font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px !important;

}
.p-info{
text-align: center;
color:white !important;
font-size: 18px;
line-height: 30px;
padding: 30px;
font-weight:bold;
}

.p-info-deux{
text-align: center;
color:white !important;
padding: 30px;
}

.red-formule{
  color:red;
  font-size:30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
}

.red{
  color:red;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
}

.red-a{
  color:red;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px !important;
}

.red-t{
  color:red;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 23px !important;
}

.formules{
width: 600px;
border-radius: 20px;
height: auto;
margin: 50px;
background-color: white;
padding: 60px
}

.plusinfo a{
  color:red;
  font-size: 14px;
  font-family: cabin;
}

.plusinfo a:hover{
  color:red;
  font-size: 14px;
  font-family: cabin;
  text-decoration:none;
}

#avatar-p img{
 height:100px;
 width:100px !important;
 border-radius: 50%;
 object-fit:cover;
}

  #avatar-p p{
  margin-bottom: 0px !important;
  display: flex;
  font-size: 14px;
  flex-direction:column;
  justify-content: center !important;
  align-items: center;
}

.avatar-titre{
  margin-bottom: 0px !important;
  display: flex;
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase;
  font-weight:bold;
  font-size: 20px !important;
}


  #avatar-p {
  margin: 50px;
  display: flex;
  margin-bottom: 0px !important;
  flex-direction:column;
  justify-content: center !important;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
